include ./partials/__header.jade
include ./partials/__navbar.jade
script(src="http://masonry.desandro.com/masonry.pkgd.js")
script(src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js")
script(src="/static/js/masonryGrid.js")
div#deletePicSuccess(style="display:none;") Picture deleted!
if canDelete
    h1 My Pics
else
    if userName
        h1 #{userName}'s Pics
div.grid
    div.grid-sizer
    if !canDelete
        each pic in pics
            div.grid-item
                img.gridPic(src=pic.url, width="200")
                div.caption= pic.title
                div.poster Posted By: 
                    a(href="https://pic-wall-zbay.herokuapp.com/user/" + pic.userID)= pic.userName
    else
        each pic in pics
            div.grid-item
                img.gridPic(src=pic.url, width="200")
                div.caption= pic.title
                div.poster Posted By: 
                    //a(href="https://pic-wall-zbay.herokuapp.com/user/" + pic.userID)= pic.userName
                    a(href="https://pic-wall-zbay.herokuapp.com/user/" + pic.userID)= pic.userName
                button.deleteButton(name="deleteID", value=pic._id) Delete
script(src="/static/js/ajax/deletePic.js")